@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$wooden: linear-gradient(to right, #c69c6d, #b28559, #9d6e46, #895835, #754224);;

.d-desktop {
    display: block;
}

.d-mobile {
    display: none;
}

.secondary-heading {
    color: #7D879C;
    font-size: 15px;
    font-family: 'poppins';
}

.btn-container {



    button {
        background-color: transparent;
        border: none;
        outline: none;
        padding: 1rem 2rem 1rem 1rem;
        background-color: #EAEAEC;
        border-radius: 35px;
        position: relative;

        width: 183px;
        text-align: left;
        font-size: 15px;


        &::before {
            width: 45px;
            height: 80%;
            position: absolute;
            background-color: #000;
            content: "";
            right: 5px;
            border-radius: 50%;
            top: 6px;

        }

        .bi-chevron-right {
            position: absolute;
            right: 0;
            color: #fff;
            right: 20px;
        }
    }
}

// topbar
a {
    color: inherit;
}

.pos-absolute {
    position: absolute;
}

.text-green {
    color: #79E65B;
}

.topbar {
    font-family: "Inter", sans-serif;

    .container {
        background-color: #fff;
        font-size: 12px;
        display: flex;
        height: 40px;
        justify-content: space-between;
        align-items: center;

        p {
            margin-bottom: 0;
            padding-left: 14%;
        }

        a {
            text-decoration: none;
        }
    }
}


.navbar {
    font-family: "Poppins", sans-serif;
    background-color: #000;
    font-size: 15px;

    .bi-list {
        color: #fff;
    }

    ul {
        .nav-link {
            color: #ffffff;
            font-style: italic;
            font-weight: 200;
            font-size: 12px;
        }

        .nav-link.active {
            color: #79E65B;
            font-weight: 400;
        }
    }

    .list-right {
        color: #fff;
        list-style: none;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0;
        font-size: 13px;
        padding-left: 0;

        .bi-person {
            font-size: 15px;
        }
    }
}

.hero-section {
    position: relative;
    background-color: #000;
    overflow: hidden;
    background-image: url('../img/hero_bg.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    text-align: center;
    min-height: 485px;


    h1 {
        font-size: 40px;
        max-width: 550px;
        color: #fff;
        text-align: center;
        margin: 0 auto;
        font-family: "Barlow", sans-serif;
        padding-top: 5rem;
        line-height: 60px;
    }

    .blade_img {
        left: 50%;
        width: 600px;
        transform: translate(-50%);
        bottom: -64%;
        animation: circularAnimate 15s linear infinite;
    }
}


.trending_blade {
    padding-top: 4rem;
    padding-bottom: 1rem;

    h2 {
        font-family: 'barlow';
        font-weight: bold;
        padding-bottom: 1rem;
        margin-bottom: 0;
    }


    .card {
        background-color: #EAEAEC;
        padding: 1rem;
        border: none;
        font-family: "Barlow";
        margin-bottom: 1rem;
        cursor: pointer;

        .card-img {
            background-color: #fff;
            position: relative;
            text-align: center;
            padding: 0.5rem;

            .trendy {
                background: linear-gradient(to right, #c69c6d, #b28559, #9d6e46, #895835, #754224);;
                color: #fff;
                padding: 0.2rem 2rem;
                text-transform: capitalize;
                border-radius: 35px;
                position: absolute;
                left: 5px;
                font-size: 12px;
                top: 10px;
            }
        }

        h3 {
            padding-top: 15px;
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 5px;
            text-transform: capitalize;
        }

        p {
            font-size: 15px;
            margin-bottom: 5px;
            font-weight: bold;
        }

        .tooth {
            font-size: 12px;
            font-weight: 550;
        }

        .desc {
            font-size: 12px;
            font-weight: 400;
        }

        .ratings {
            padding: 0;
            margin: 0;
            list-style: none;
            display: inline-flex;
            gap: 0.3rem;
            font-size: 15px;

            i {
                color: #D7BE1E;
            }

            li {
                color: #767676
            }
        }
    }

}

.offer {
    .container {
        padding: 2rem;
        background: linear-gradient(rgb(0 0 0 / 82%), rgb(0 0 0 / 84%)), url("../img/adsbg.png");
        background-repeat: no-repeat;
        background-size: cover;

        h4 {
            background-color: $wooden;
            width: fit-content;
            padding: 0.5rem 1rem;
            font-size: 17px;
            border-radius: 35px;
            margin: 2rem 0rem 1rem 0rem;
            color: #fff;
        }

        p {

            font-size: 50px;
            font-family: "Aclonica";
            color: #fff;
        }
    }
}

footer {
    padding: 3rem 0;
    background-color: #000;
    color: #fff;

    h3 {
        font-size: 18px;
        margin-bottom: 1rem;
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 0.5rem;
            color: #7D879C;

            &:hover {
                color: #98a3ba;
            }

            a {
                text-decoration: none;
            }
        }
    }
}


.review {
    padding-top: 5rem;
    padding-bottom: 3rem;

    .swiper-slide {
        background-color: #F1F1F1;
        padding: 2rem;
        border-radius: 5px;

        .customer_name {
            padding-left: 1rem;
        }

        ul {
            list-style: none;
            display: flex;
            padding-left: 0;
            gap: 0.3rem;

            li {
                color: #D7BE1E;
            }

        }
    }
}

@keyframes circularAnimate {
    0% {
        transform: translate(-50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%) rotate(360deg);
    }
}

@media (max-width:992px) {
    .d-desktop {
        display: none;
    }

    .d-mobile {
        display: block;
    }
}


@media (max-width:390px) {
    .hero-section {
        min-height: 350px;

        h1 {
            line-height: 40px;
            font-size: 25px;
            padding-top: 3rem;
        }

        .blade_img {
            bottom: -57%;
        }
    }
}

.category {
    padding-top: 5rem;
    font-size: 20ox;

    .nav-tabs {
        border: none;
        &:focus-visible{
            outline: none;
            border: none;
        }
    }

    .nav-link {
        text-transform: capitalize;
        color: #000;
        padding: 0.5rem 1rem;
               border-radius: 7px;

        &.active {
            background: linear-gradient(to right, #c69c6d, #b28559, #9d6e46, #895835, #754224);
            color: #fff;
     
        }
        .nav-item{
             &:hover , &:focus , &:focus-visible , :focus-visible {
    

            border: none;outline: -webkit-focus-ring-color auto 0px;
            outline: none;
            box-shadow: 0;
        }
        }
        &:hover , &:focus{
            border: none;
            outline: none;
            box-shadow: 0;
        }
    }
}
